<h1>Bienvenido a la calculadora</h1>
<input type="number" [(ngModel)]="n1"/>
<br/>
<br/>
<input type="number" [(ngModel)]="n2"/>

<br/>
<br/>

<div style="margin-right: 5px">
    <button (click) = "sumar()" style="font-size: medium;font-style: bold;margin-right: 5px" >+</button>
    <button (click) = "restar()" style="font-size: medium;font-style: bold;margin-right: 5px" >-</button>
    <button (click) = "multiplicar()" style="font-size: medium;font-style: bold;margin-right: 5px" >x</button>
    <button (click) = "dividir()" style="font-size: medium;font-style: bold;" >/</button>
</div>

<br/> 
<br/>

<h2>{{ n3 }}</h2>